* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

body {
    background: linear-gradient(338deg, rgba(25, 22, 22, 1) 0%, rgba(81, 126, 171, 1) 37%, rgba(25, 22, 22, 1) 50%, rgba(81, 126, 171, 1) 100%);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.relogio {
    background-color: #000;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid red;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1rem 3rem;
    width: 450px;
}

span {
    margin-right: 0.5rem;
}